/* 
.... COLORS ....

primary colors
turquoise -- 31ccbf 
shades -- 279399 
very dark --#0f423d
tint -- e5fbfb

secondary colors
malchite -- 12cc89 
shades -- 0e9368
tint -- #d4f0e4

tertiary colors
brick-red -- cc313e
tint -- #fddde0
shades -- #531318

grays
light gray -- #f5f5f5
medium gray -- #cccccc

*/

/*  >>>> CSS RESET <<<< */

:root{
/* colors */
    --primary-base : #31CCBF;
    --primary-tint: #E5FBFB;
    --primary-shade: #279399;
    --primary-deep-shade: #0F423D;

    --secondary-base: #12CC89;
    --secondary-tint: #D4F0E4;
    --secondary-shade: #0E9368;

    --tertiary-base:  #cc313e;
    --tertiary-shade: #531318;
    --tertiary-tint:  #fddde0;

    --gray-light:  #f5f5f5;
    --gray-medium: #cccccc;

    --bg-body: #f6f6f6ef;
    --text-base: #0c0c0cf1;

    /* typography */
    --h1: 4.8rem;
    --h2: 3.8rem;
    --h3: 3.2rem;

    /* Body text */
    --body: 1.8rem;
    --link: 2.0rem;

    /* Display text */
    --display: 6.2rem;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color:var(--bg-body) ;
    color: var(--text-base);
    font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;;
}

/* >>>> TYPOGRAPHY <<<< */

h1{
    color:var(--primary-deep-shade);
    font-weight: 600;
    font-size: 4.8rem;
    letter-spacing: -2px;
}

h2{
    font-weight: 600;
    font-size: 3.8rem;
    letter-spacing: -2px;
}

h3{
    font-weight: 600;
    font-size: 3.2rem;
    letter-spacing: -2px;
}

img{
    width: 300px;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
}

a{
    font-size: 2rem;
    text-decoration: none;
    
}

ul{
    
    list-style: none;
}

/* >>>> NAVBAR <<<< */

.nav-bar{
    margin-bottom: 15rem;
    
}
.header-list{
    display: flex;
    gap: 2rem;
    justify-content:flex-end;
}
.highlight{
    background-color: #FF9F8A ;
    padding: 0.6rem 1.2rem;
    color: #531318;
    border-radius: 10px;
    
}

.header-span{
    font-size: 6.2rem;
    margin-bottom: 5.9rem;
}
.header{
    text-align: center;
}

.card{
    text-align: center;
    margin-bottom: 1.5rem;
    border-radius: 12px;
}
/* LAYOUT CONTAINERSs */

.main-page{

    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}